.p-datatable-tbody > tr:hover {
  background-color: var(--highlight-bg);
  cursor: pointer;
}

.card-hover:hover {
  background-color: var(--highlight-bg) !important;
}

.full-size-body {
  height: auto !important;
}